{% extends 'base.html' %}

{% block title %}{{ username }}/{{ repo }}/{{ version }}{% endblock %}

{% block content %}
{% if repo.get_latest_version.name == 'master' %}
<a href="{% url 'renderer:version' username repo repo.get_latest_version %}">
    {{ repo.get_latest_version }}</a>
{% endif %}
{% for v in repo.get_versions.all %}
    <a href="{% url 'renderer:version' username repo v %}">{{ v }}</a>
{% endfor %}
<hr />
{% autoescape off %}
{{ version.get_markdown }}
{% endautoescape %}
{% endblock %}

